<!-- <a class="btn btn-reg-danger btn-round" class="btn btn-danger btn-round" id="pwReset" (click)="closePOPup()" #closeModal>リセット</a> -->
<!-- <a href="/home" class="btn btn-danger btn-round" class="btn btn-danger btn-round" id="login" >ホーム</a> -->
<!-- this.location.back() -->


<h1>パスワードのリセット</h1>
<h2>本当にパスワードをリセットしますか？</h2>

<a class="btn btn-reg-danger btn-round" class="btn btn-danger btn-round" (click)="GoBack()" #closeModal>戻る</a>

<a class="btn btn-reg-danger btn-round" class="btn btn-danger btn-round" (click)="pwReset()" #closeModal>リセット</a>
